<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Employee</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
<script type="text/javascript" src="webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<c:url value="/css/main.css" var="jstlCss" />
</head>
<body>
	<div class="container my-5">
	<h3> Update Student</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-8">
					<form action="#"
						th:action="@{/update/{id}(id=${employee.employeeId})}"
						th:object="${employee}" method="post">
						<div class="row">
							<div class="form-group col-md-6">
                            <input	type="hidden" th:field="*{employeeId}" class="form-control" id="employeeId"
									placeholder="Employee ID">
								<label for="firstName" class="col-form-label">FIrst Name</label> <input
									type="text" th:field="*{firstName}" class="form-control" id="firstName"
									placeholder="First Name"> <span
									th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
									class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="lastName" class="col-form-label">Last Name</label> <input
									type="text" th:field="*{lastName}" class="form-control" id="lastName"
									placeholder="Last Name"> <span
									th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
									class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="jobTitle" class="col-form-label">Job Title</label> <input
									type="text" th:field="*{jobTitle}" class="form-control"
									id="jobTitle" placeholder="jobTitle"> <span
									th:if="${#fields.hasErrors('jobTitle')}" th:errors="jobTitle"
									class="text-danger"></span>
							</div>

	                        <div class="form-group col-md-8">
								<label for="salary" class="col-form-label">Salary</label> <input
									type="text" th:field="*{salary}" class="form-control"
									id="salary" placeholder="salary"> <span
									th:if="${#fields.hasErrors('salary')}" th:errors="salary"
									class="text-danger"></span>
							</div>
							
                            <div class="form-group col-md-8">
								<input type="submit" class="btn btn-primary"
									value="Update Employee">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>